/* CSS files add styling rules to your content */

body {
    margin: 0 !important;
    padding: 0 !important;
  }
.header-container{
    display: flex;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    font-family: "Montserrat", sans-serif;
    flex-direction: row;
}

.nav-bar{
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
}

  